@import '../modules/variables';

#advanced-opts-toggle {
    color: $light4;
    transition: all 100ms ease-in;

    &:hover {
        background-color: $light1;
        color: $gray;
        transition: all 100ms ease-out;
    }

    .toggle-text {
        padding-right: 3px;
    }

    .toggle-caret {
        padding-left: 3px;
    }
}

#advanced-opts-toggle {
    color: #bbb;
    transition: all 100ms ease-in;
}

#advanced-opts-toggle:hover {
    background-color: #f6f6f6;
    color: #777;
    transition: all 100ms ease-out;
}

#advanced-opts .toggle-text {
    padding-right: 3px;
}

#advanced-opts .toggle-text {
    padding-left: 3px;
}

#advanced-opts-panel {
    position: fixed;
    display: inline-block;
    width: 0;
    height: calc(100% - 60px);
    z-index: 10;
    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in-out, box-shadow 250ms ease-in, visibility 300ms;

    & > div {
        position: absolute;
        width: 350px;
    }

    &.visible {
        width: 350px;
        visibility: visible;
        transition: width 250ms ease-in-out;
    }

    .advanced-opts-header {
        height: 60px;
        padding: 15px;
        box-shadow: 0 1px 10px 0 $light2;

        .title {
            font-size: 17px;
            font-weight: bold;
        }
        //h3 {
        //    margin: 0;
        //}
    }

    .advanced-opts-reset {
        height: auto;
        padding: 0 10px;
    }

    .advanced-opts-content {
        top: 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .advanced-opts-actions {
        height: 150px;
        bottom: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 -2px 10px 0 $light2;

        button {
            display: block;
            width: 100%;
            height: 45px;
        }
    }

    .group-toggle {
        cursor: pointer;

        .inner-wrapper {
            padding: 5px 15px;
        }
        .toggle-disabled {
            display: none;
        }
        .adv-opts-toggle-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
        }
        .adv-opt-toggle:hover::after {
            border-top-color: #777;
        }
    }

    .group-body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 300px;
        padding: 10px;
    }

    .hoot-form-field {
        padding: 0 15px;
        margin-top: 5px;

        .adv-opts-header {
            font-weight: bold;
        }

        label {
            width: 100%;
            display: inline-block;
            white-space: initial;
            padding: 0;

            span {
                line-height: 22px;
            }
        }

        input[type="text"] {
            border: 1px solid $dark-opacity20;
            border-radius: 4px;
            display: block;
        }

        input.combobox-input {
            display: inline-block;
        }

        .form-field-control {
            display: flex;
        
            input[type="text"] {
                align-self: center;
                border: none;
            }

        }
    }

    .form-field-checkbox-wrap {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 50px;

        .form-field-checkbox-title-wrap {
            display: flex;
            height: inherit;
            width: 85%;
            label {
                align-self: center;
                margin: 10px;
                padding: 10px 0;
            }
        }
        .form-field-checkbox-input-wrap {
            width: 15%; 
            display: flex;
            input {
                margin: auto;
            }
        }
    }

    .hoot-form-field.has-children {
        .hoot-form-field {
            padding: 0 20px;

            label {
                display: inline-block;
            }
        }
    }

    .hoot_road_opt_engine_group {
        margin-top: 10px;
    }

    .tooltip {
        max-width: 270px;
        top: -30px !important;
        left: unset !important;
        right: 20px !important;
        margin: 0;
        opacity: 0.9;

        .tooltip-arrow {
            border-top-color: #F37676;
            left: unset;
            right: 30px;
        }

        .tooltip-inner {
            background-color: #ccc;
            border: 1px solid #F37676;
        }
    }
}

@media only screen and (max-width: 1160px) {
    #advanced-opts-panel {
        & > div {
            position: absolute;
            width: 300px;
        }

        &.visible {
            width: 300px;
            visibility: visible;
            transition: width 250ms ease-in-out;
        }

        .advanced-opts-header .title {
            font-size: 14px;
            font-weight: bold;
        }
    }
}
