@import '../modules/variables';

#advanced-opts-toggle {
    color: $light4;
    transition: all 100ms ease-in;

    &:hover {
        background-color: $light1;
        color: $gray;
        transition: all 100ms ease-out;
    }

    .toggle-text {
        padding-right: 3px;
    }

    .toggle-caret {
        padding-left: 3px;
    }
}

#advanced-opts-toggle {
    color: #bbb;
    transition: all 100ms ease-in;
}

#advanced-opts-toggle:hover {
    background-color: #f6f6f6;
    color: #777;
    transition: all 100ms ease-out;
}

#advanced-opts .toggle-text {
    padding-right: 3px;
}

#advanced-opts .toggle-text {
    padding-left: 3px;
}

#advanced-opts-panel {
    position: fixed;
    display: inline-block;
    width: 0;
    height: calc(100% - 60px);
    z-index: 10;
    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in-out, box-shadow 250ms ease-in, visibility 300ms;

    &.visible {
        width: 450px;
        visibility: visible;
        transition: width 250ms ease-in-out;
    }


    .advanced-opts-header {
        display: flex;
        box-shadow: 0 1px 10px 0 $light2;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;

        .title {
            font-size: 17px;
            font-weight: bold;
        }
        //h3 {
        //    margin: 0;
        //}
    }

    .favorites-container {
        display: flex;
    }

    .advanced-opts-reset {
        height: auto;
        padding: 0 10px;
    }

    .fav-button-placement {
        padding: 0px 1px 0px 0px;
    }

    .advanced-opts-content {
        height: 95%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .advanced-opts-actions {
        height: 150px;
        bottom: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0 -2px 10px 0 $light2;

        button {
            display: block;
            width: 100%;
            height: 45px;
        }
    }

    .group-toggle {
        cursor: pointer;

        .inner-wrapper {
            padding: 5px 15px;
        }
        .toggle-disabled {
            display: none;
        }
        .adv-opts-toggle-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
        }
        .adv-opt-toggle:hover::after {
            border-top-color: #777;
        }
        .adv-opts-inner-wrap {
            display: flex;
            .adv-opt-title-disabled {
                opacity: .5;
            }
            .adv-opts-inner-wrap-left {
                width: 20px;
                align-items: center;
                input {
                    margin-top: 5px;
                }
            }
        }
    }

    .group-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
    }

    .hoot-form-field {
        display: flex;
        overflow: hidden;
        margin: 10px;
        min-height: min-content;

        .adv-opts-header {
            font-weight: bold;
            padding: 0px 0px 0px 5px;
        }

        label {
            display: inline-block;
            white-space: initial;
            //padding: 0;

            span {
                line-height: 22px;
            }
        }

        input.combobox-input {
            display: inline-block;
        }
    }

    .hoot-form-field-checkbox-clicked {
        flex-wrap: wrap;
        align-items: center;

        .hoot-field-title-checkbox-wrap {
            display: flex;
            height: inherit;
            width: 90%;
            label {
                align-self: center;
            }
        }
        .hoot-field-input-checkbox-wrap {
            width: 10%;
            height: inherit;
            display: flex;
            justify-content: center;
            input {
                margin: initial;
            }
        }
    }

    .hoot-form-field-checkbox {
        flex-direction: row;
        align-items: center;

        .hoot-field-title-checkbox-wrap {
            display: flex;
            height: inherit;
            width: 90%;
            label {
                align-self: center;
            }
        }
        .hoot-field-input-checkbox-wrap {
            width: 10%;
            height: inherit;
            display: flex;
            justify-content: center;
            input {
                margin: initial;
            }
        }
    }

    .hoot-form-field-desc {
        flex-direction: row;
        align-items: center;

        .hoot-field-title-desc-wrap {
            display: flex;
            height: inherit;
            width: 75%;
            background:rgba(255,255,255,0.5);
            label {
                align-self: center;
            }
        }
        .hoot-field-input-desc-wrap {
            width: 15%;
            height: inherit;
            display: flex;
            justify-content: center;
            input {
                margin: initial;
            }
        }
    }

    .desc-background {
        background:rgba(255,255,255,0.5);
    }

    .hoot-form-field-info {
        flex-direction: row;
        align-items: center;

        .hoot-field-title-info-wrap {
            display: flex;
            height: inherit;
            width: 85%;
            label {
                align-self: center;
            }
        }
        .hoot-field-input-info-wrap {
            width: 15%;
            height: inherit;
            display: flex;
            justify-content: center;
            input {
                margin: initial;
            }
        }
    }

    .hoot-form-field-input {
        flex-direction: column;
    }

    .hoot-field-label-wrap {
        display: flex;
        justify-content: space-between;
    }

    .hoot-field-button-container {
        display: flex;
        justify-content: space-between;
    }

    .hoot-field-control {
        input[type="text"] {
            align-self: center;
            border: none;
        }
    }

    .hoot-form-field.has-children {
        .hoot-form-field {
            padding: 0 20px;

            label {
                display: inline-block;
            }
        }
    }

    .hoot_road_opt_engine_group {
        margin-top: 10px;
    }

    .tooltip {
        max-width: 270px;
        top: -30px !important;
        left: unset !important;
        right: 20px !important;
        margin: 0;
        opacity: 0.9;

        .tooltip-arrow {
            border-top-color: #F37676;
            left: unset;
            right: 30px;
        }

        .tooltip-inner {
            background-color: #ccc;
            border: 1px solid #F37676;
        }
    }
}

@media only screen and (max-width: 1160px) {
    #advanced-opts-panel {

        & > div {
            position: absolute;
            width: 300px;
        }

        &.visible {
            width: 300px;
            visibility: visible;
            transition: width 250ms ease-in-out;
        }

        .advanced-opts-header .title {
            font-size: 14px;
            font-weight: bold;
        }
    }
}
