/* Carousel */

.carousel-control {
    button {
        border-radius: 0 0 0 0;
    }

    .carousel-column {
        position: fixed;
        width: 160px;
        top: 60px;
        bottom: 30px;
        padding: 20px 50px 20px 20px;
        float: left;
        z-index: -1;
    }
}

.carousel-thumbnails {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    max-height: 90%;
}

.carousel-metadata-list {
    li {
        font-size: 80%;
        position: relative;
        height: 60px;
        background-color: white;
        color: #7092FF;
        border: 1px solid #CCC;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 10px;

        &:hover {
            background-color: #ececec;
        }

        &.active {
            background: #E8EBFF;
        }

        label {
            display: block;
            padding: 5px 10px;
            cursor: pointer;

            & > span {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

li.carousel-zoom-warn {
    padding: 5px;
}

div.carousel-zoom-warn {
    line-height: 100%;
    text-align: center;
}

div.carousel-popup {
    position: absolute;
    width: 400px;
    max-height: 400px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    background: rgba(255,255,255,1.0);
    div {
        display: flex;
        justify-content: space-between;
    }
}

label.carousel-popup {
    padding-left: 5px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
}

span.carousel-close {
    float: right;
}

div.carousel-metadata {
    overflow: auto;
    max-height: 360px;
}

td.carousel-metadata-table {
    padding-left: 5px;
}

tr.carousel-metadata-table:nth-child(odd) {
    background-color: #ececec;
}

path.carousel-footprint {
    stroke: #FF26D4;
    stroke-width: 4;
    stroke-opacity: 0.5;
    fill: #FF26D4;
    fill-opacity: 0.25;
    pointer-events: none;
}


/* Icons */

.icon.dgcarousel.light { background:transparent url(./img/carousel.png) no-repeat 0 0; }

.dgicon {
    display:inline-block;
    width:13px;
    height:13px;
    text-indent:-9999px;
    overflow:hidden;
    float:right;
    margin-top:3px;
}
.dgicon.rgb { background:transparent url(./img/imgBandIcon-color.png) no-repeat 0 0; }
.dgicon.pan { background:transparent url(./img/imgBandIcon-bw.png) no-repeat 0 0; }

.dgarrow {
    display:inline-block;
    width:13px;
    height:29px;
    text-indent:-9999px;
    overflow:hidden;
    margin-left:35px;
}
.dgarrow.up {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    background:transparent url(./img/carousel-arrow.png) no-repeat 0 0;
}
.dgarrow.up:hover {
    background-position: 0px -29px;
}
.dgarrow.down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background:transparent url(./img/carousel-arrow.png) no-repeat 0 0;
}
.dgarrow.down:hover {
    background-position: 0px -29px;
}

div.dgprofile {
    position: relative;

}

.dgprofile li {
    padding: 5px 10px;
}

div[id*="transparency-slider"] {
    width: 100%;
    height: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
}

div[id*="transparency-slider"] svg {
    height: 60px;
    width: 75%;
    vertical-align: -45px;
}

div[id*="transparency-slider"] circle {
    cursor: move;
}

#transparency-slider-imagery svg {
    height: 60px;
    width: 150px;
    vertical-align: middle;
}

.perc-opacity {
    font-size: 10px;
}

.layer-overlay-list li.active button.layer-meta {
    border-bottom: 1px solid #ccc;
}
