@import '../modules/variables';

.extent-box {
    margin-bottom: 20px;
    background-color: $light1;

    .row {
        width: 100%;
        display: flex;
        justify-content: center;

        &:nth-child( 2 ) {
            justify-content: space-between;
            margin: 10px 0;
        }
    }

    input.extent-bound {
        width: 120px;
        border: 1px solid $light5;
        color: $gray;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba(42, 226, 34, 0);
        transition: box-shadow 300ms ease-in-out;

        &:focus {
            background-color: $light;
            color: black;
        }

        &.updated {
            box-shadow: 0 0 10px 0 rgba(42, 226, 34, 0.8);
            transition: box-shadow 100ms ease-in-out;
        }
    }
}

.bbox-options {
    margin-bottom: 20px;
    padding: 0;

    button {
        width: 100%;
        border-radius: 0;
        border: 1px solid $light3;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }

        &:not(:last-child) {
            border-right: 0px;
        }

        &.selected {
            background-color: $blue;
            border-color: $blue1;
            color: $light;
        }
    }
}

.history-options {
    input {
        width: 100%;
        padding-left: 10px;
        padding-right: 20px;
    }
}

.user-input {
    margin-top: 20px;

    div {
        font-weight: bold;
    }

    textarea {
        width: 100%;
        min-height: 125px;
        height: 250px;
    }

    label:hover {
        cursor: pointer;
    }
}

#minlat {
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
}

#maxlat {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
}

#minlon {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
}

#maxlon {
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}

#clipDataset .hoot-menu {
    max-width: unset;
    width: 80%;
}

#clipTable {
    table-layout: fixed;
    margin-bottom: 20px;

    th {
        padding: 10px;
    }

    td {
        padding: 0 10px;
    }

    input[type="text"] {
        border: none;
        padding: 0;
    }
}

#clipExtent {
    margin-left: 10px;
}

.grailOutputTable {
    margin-top: 20px;
    margin-bottom: 20px;

    th {
        padding: 10px;
    }

    td {
        padding: 0 10px;
    }

    input[type="text"] {
        border: none;
        padding: 0;
    }
}

#grailPullTable {
    .close {
        position: relative;
        z-index: 1;
    }
}

#differentialTable .hoot-menu {
    max-width: unset;
    min-width: 350px;
    width: 20%;
}

#differentialTable {
    th {
        width: 20px;
    }

    td {
        padding-top: 10px;
        padding-right: 10px;
    }

    .material-icons {
        vertical-align: bottom;
    }

    #advOpts {
        cursor: pointer;
    }
}
