#conflicts-container {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 30px;
}

.review-block {
    clear: both;
}

.tag-table {
    width: auto;
    height: auto;
    background-color: black;
    float: right;

    td {
        min-width: 75px;
        text-align: center;

        .prev {
            float: left;
        }

        .next {
            float: right;
        }
    }
}