#conflicts-container {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 30px;

    .inner-wrapper {
        clear: both;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .left-container {
        padding: 0 15px 15px;
        align-self: flex-start;
    }

    .right-container {
        width: 100%;
        padding: 10px 15px;

        button {
            height: 35px;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.tag-table {
    width: auto;
    height: auto;
    background-color: black;
    float: left;
    display: inline-block;

    table {
        background: transparent;
        border: 1px solid #aaa;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #aaa;
    }

    td {
        min-width: 75px;
        text-align: center;
        vertical-align: middle;
        padding: 0 5px;
        color: white;

        .prev {
            float: left;
        }

        .next {
            float: right;
        }
    }

    .feature1 {
        background: rgba(255, 0, 0, 0.5);
    }

    .feature2 {
        background: rgba(0, 0, 255, 0.5);
    }
}

.meta-dialog {
    margin-bottom: 5px;
}