@import '../modules/variables';

.context-menu {
    position: absolute;
    display: none;
    background-color: $light;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid $light2;
    z-index: 1200;

    ul {
        list-style-type: none;
        margin: 4px 0;
        padding: 0;
        cursor: default;

        li {
            padding: 4px 16px;

            &:hover {
                background-color: $blue;
                color: white;
                font-weight: 500;
            }
        }
    }
}
