#bar {
    position: absolute;
    width: calc(100% - 400px);
    top: 60px;
    right: 0;
    left: auto;

    .spacer {
        width: 0;
    }
}

#map {
    position: absolute;
    width: 100%;
}

#content {
    position: absolute;
    width: calc(100% - 400px);
    height: calc(100% - 60px);
    left: 400px;
}

.low-zoom {
    path {
        &.way {
            &.line {
                stroke-width: 7;
                stroke-opacity: .9;
            }
        }

        &.shadow {
            &.line {
                stroke-width: 9;
                stroke-opacity: .9;

                &.hover {
                    stroke-width: 12;
                }
            }
        }

        &.casing {
            &.line {
                stroke-width: 6;
            }
        }
    }
}

path {
    &.way {
        &.line {
            stroke-width: 3;
        }
    }

    &.shadow {
        &.line {
            stroke-width: 4;
        }
    }
}

g.node {
    &.vertex {
        &.shared {
            .stroke {
                fill: $light5;
            }

            .fill {
                fill: $light5;
            }
        }
    }
}

.data-layer-hoot {
    .bbox {
        opacity: 0;

        .high-zoom & {
            opacity: 1;
        }
    }
}