@import '../modules/variables';

#map {
    width: 100%;

    .map-in-map & {
        cursor: url(./img/cursor-grab.png) 9 9, auto;
    }

    .mode-browse &,
    .mode-select & {
        .point {
            cursor: url(./img/cursor-select-point.png), pointer;
        }

        .vertex {
            cursor: url(./img/cursor-select-vertex.png), pointer;
        }

        .line {
            cursor: url(./img/cursor-select-line.png), pointer;
        }

        .area {
            cursor: url(./img/cursor-select-area.png), pointer;
        }

        .midpoint {
            cursor: url(./img/cursor-select-split.png), pointer;
        }
    }

    .mode-select .behavior-multiselect & {
        .point,
        .vertex,
        .line,
        .area {
            cursor: url(./img/cursor-select-add.png), pointer;
        }

        .selected {
            cursor: url(./img/cursor-select-remove.png), pointer;
        }
    }

    .mode-add-point &,
    .mode-browse.lasso &,
    .mode-select.lasso & {
        cursor: url(./img/cursor-draw.png) 9 9, crosshair;

        .way,
        .vertex,
        .midpoint {
            cursor: url(./img/cursor-draw.png) 9 9, crosshair;
        }
    }

    .mode-draw-line &,
    .mode-draw-area &,
    .mode-add-line &,
    .mode-add-area &,
    .mode-drag-node & {
        cursor: url(./img/cursor-draw.png) 9 9, crosshair;

        .way.hover {
            cursor: url(./img/cursor-draw-connect-line.png) 9 9, crosshair;
        }

        .vertex.hover {
            cursor: url(./img/cursor-draw-connect-vertex.png) 9 9, crosshair;
        }
    }

    .mode-measure-add-line &,
    .mode-measure-add-area & {
        cursor: url(./img/cursor-ruler.png) 9 9,url(./img/cursor-draw.png) 9 9, crosshair;
    }

    .mode-clip-bounding-box & {
        cursor: url(./img/cursor-draw.png) 9 9, crosshair;
    }

    .point:active,
    .vertex:active,
    .line:active,
    .area:active,
    .midpoint:active,
    .mode-select .selected {
        cursor: url(./img/cursor-select-acting.png), pointer;
    }

    .turn & rect {
        cursor: url(./img/cursor-pointer.png) 6 1, pointer;
    }

    .lasso & {
        pointer-events: visibleStroke;
    }
}

path.area {
    &.highlight.stroke {
        stroke-width: 7;
        stroke-opacity: .9;
    }
    &.highlight.shadow {
        stroke-width: 20;
        stroke-opacity: .6;

        &.hover {
            stroke-width: 10;
        }

        &.extra-highlight {
            stroke-width: 12;
            stroke-opacity: .9;
        }

        &.review-feature1 {
            stroke: #F00;
        }

        &.review-feature2 {
            stroke: #00F;
        }
    }
}
path.line {
    &.stroke {
        stroke-width: 3;
    }

    &.casing {
        stroke-width: 5;
    }

    &.shadow {
        stroke-width: 3;

        &.hover {
            stroke-opacity: .9;
        }
    }

    &.highlight.shadow {
        stroke-width: 8;
        stroke-opacity: .6;

        &.hover {
            stroke-width: 10;
        }

        &.extra-highlight {
            stroke-width: 12;
            stroke-opacity: .9;
        }

        &.review-feature1 {
            stroke: #F00;
        }

        &.review-feature2 {
            stroke: #00F;
        }
    }

    .low-zoom & {
        &.stroke {
            stroke-width: 7;
        }

        &.casing {
            stroke-width: 10;
        }

        &.shadow {
            stroke-width: 12;
        }

        &.highlight.shadow {
            stroke-width: 18;

            &.hover {
                stroke-width: 20;
            }

            &.extra-highlight {
                stroke-width: 22;
            }
        }
    }
}

.node.point,
.node.vertex {
    &.vertex.shared {
        .stroke {
            fill: $light5;
        }

        .fill {
            fill: $light5;
        }
    }

    &.highlight .shadow {
        stroke-width: 12;
        stroke-opacity: .6;

        @at-root .hover#{&} {
            stroke-width: 14;
            stroke-opacity: .9;
        }

        @at-root .extra-highlight#{&} {
            stroke-width: 16;
            stroke-opacity: .9;
        }
    }

    &.highlight.review-feature1 .shadow {
        stroke: #F00;
    }

    &.highlight.review-feature2 .shadow {
        stroke: #00F;
    }
}

.data-layer.hoot {
    .layer-hoot {
        pointer-events: none;
    }

    .datagroup {
        stroke-width:2px;
    }

    .datagroup-Point {
        circle {
            fill: green;
            stroke: white;
        }

        text {
            fill: white;
            font-weight: bold;
            font-size: 14px;
        }

    }

    .datagroup-LineString {
        stroke: green;
    }

    .bbox {
        fill-opacity: 0;
        opacity: 0;

        .high-zoom & {
            opacity: 1;
        }
    }
}

#about {
    .coordinates {
        cursor: pointer;
    }
}
