#navbar {
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    div {
        height: 100%;
    }

    .nav-item {
        display: flex;
        align-items: center;
    }
}

.nav-item {
    display: flex;
    align-items: center;

    .menu-button {
        @extend button.dark;
        border: none;

        &.active {
            background-color: $light;
            color: $dark;

            &:hover {
                background-color: $light1;
            }
        }
    }

    .icon-container {
        padding: 0 10px;

        span {
            margin-left: 8px;
            font-size: 15px;
        }
    }

    .logo-container {
        margin-left: 20px;
    }

    .hoot-logo {
        width: 300px;
        height: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: auto;
        top: 50px;
        right: 25px;
        z-index: 10;

        &.visible {
            display: block;
        }
    }

    .dropdown-item {
        height: 50px;
        line-height: 50px;
    }
}