@import '../modules/variables';

#navbar {
    position: absolute;
    height: 60px;
    min-width: 768px;
    left: 0;
    right: 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    z-index: 13;

    div {
        height: 100%;
    }

    .nav-item {
        display: flex;
        align-items: center;
    }
}

.nav-item {
    display: flex;
    align-items: center;

    .button {
        // @extend button.dark !optional;
        border: none;
    }

    .menu-button {
        &.active {
            background-color: $light;
            color: $dark;

            &:hover {
                background-color: $light1;
            }
        }
    }

    .icon-container {
        padding: 0 10px;

        span {
            margin-left: 8px;
            font-size: 15px;
        }
    }

    .logo-container {
        margin-left: 20px;
    }

    .hoot-logo {
        width: 300px;
        height: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: auto;
        min-width: 80px;
        top: 60px;
        right: 35px;

        &.visible {
            display: block;
        }
    }

    .dropdown-item {
        height: 50px;
        line-height: 50px;

        &.pointer:hover {
            background-color: $light;
        }
    }

    .user-info-container {
        span {
            padding-right: 5px;
        }

        i {
            font-size: 15px;
            cursor: default;
        }
    }
}
