#manage-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    z-index: 11;

    .panel-body {
        position: absolute;
        width: calc(100vw - 220px);
        min-width: 548px;
        height: 100%;
        left: 220px;
        padding: 20px;
    }

    .panel-content {
        position: relative;
        top: 60px;
    }
}

#manage-sidebar-menu {
    position: absolute;
    width: 220px;
    height: 100%;
    font-size: 14px;
}

#manage-datasets {
    .dataset-action-button {
        padding: 0 10px;
        border-right: 1px solid white;
        border-radius: 0;

        &:first-child {
            margin-left: 0;
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            margin-right: 0;
            border-radius: 0 4px 4px 0;
        }
    }
}

#dataset-table {
    position: relative;
    top: 20px;
    height: 400px;
    background-color: white;
    border: 1px solid $light3;
}

#dataset-table-header {
    padding: 0 20px;
    background-color: $dark1;
    color: white;
    width: 100%;
    height: 25px;

    th {
        position: relative;
        top: 2px;
        text-align: left;
    }
}