@import '../modules/variables';

// iD-Editor sidebar
#sidebar {
    position: relative;
    display: inline-block;
    //width: 400px;
    height: 100%;
    min-width: 400px;
    max-width: 50%;
    z-index: 11;

    .feature-list-pane {
        display: none;
    }

    .tag-schema {
        padding: 20px 20px 0 20px;

        input {
            width: 50%;
        }
    }

    .select-all-row {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;

        .select-all-button {
            width: 10%;
            top: 0;
            background: $light;
        }
    }

    ul.tag-list {
        padding-top: 0;
    }

    .tag-select-button {
        width: 10%;
        top: 0;
        right: 0;
        border-radius: 0;
        background: #fafafa;

        &:hover {
            background: #f1f1f1;
        }

        svg:not(.visible) {
            color: #fafafa;
        }
    }

    .sort-tags-container {
        float: right;
        margin: 5px 0;
    }
}

#hoot-sidebar {
    position: relative;
    height: 100%;

    .cover-bar {
        position: absolute;
        background: #fff;;
        height: 100%;
        top: 0;
        right: 0;
        width: 5px;
        -webkit-transition: all .5s;
        opacity: 1;
    }

    &:hover .cover-bar {
        opacity: 0;
        -webkit-transition: all .5s;
    }

    .wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            overflow: visible;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,.2);
        }
    }

    .sidebar-component {
        top: 0;
    }
}

#sidebar-resizer {
    background-color: #999;
    right: -1px;
    z-index: 1;
    transition: background-color 500ms ease-in;

    &.light {
        background-color: $light4;
        transition: background-color 500ms ease-out;
    }

    #sidebar.collapsed & {
        right: -6px;
    }
}

.sidebar-form {
    margin-bottom: 20px;
    box-shadow: 0 3px 10px $dark-opacity10;

    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 14px;
        white-space: nowrap;
        background-color: $light-gray;
        color: white;
        transition: border-radius 400ms linear;

        &::before {
            margin-left: -10px;
        }

        &.active {
            border-radius: 4px 4px 0 0;
            background-color: $dark;
        }

        &:hover {
            background-color: $dark;
        }

        i {
            line-height: 38px;
            margin-right: 10px;
        }
    }

    .inner-wrapper {
        height: 0;
        min-height: 0;
        border-radius: 0 0 4px 4px;
        border: 0 solid $dark-opacity25;
        visibility: hidden;
        overflow: hidden;
        transition: height 250ms linear, visibility 300ms, border 600ms;

        &.visible {
            border: 1px solid $dark-opacity25;
            border-top: none;
            visibility: visible;
            transition: height 200ms linear;
        }

        &.no-transition {
            overflow: visible;
            transition: height 0ms;
        }

        fieldset {
            padding: 15px;
        }
    }

    .action-container {
        margin-bottom: 0;

        button {
            padding: 5px 20px;
            height: auto;

            &.dark.disabled {
                background-color: #999;
                color: #ddd;
            }
        }
    }

    .layer-add-table {
        height: 150px;
        margin-bottom: 15px;
        resize: vertical;
    }

    .palette {
        width: auto;
        display: inline-block;
        border-color: #444;

        a {
            border-color: #444;

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border: none;
            }

            &._osm {
                width: 40px;
                height: 38px;
            }

            &.active {
                box-shadow: inset 0 0 0 4px $dark-opacity25;

                &:before {
                    position: relative;
                    top: 10px;
                    left: 10px;
                    opacity: 0.5;
                }
            }
        }
    }

    &.small {
        .layer-add-table {
            .dnameTxt {
                font-size: 9px;
            }

            .dsizeTxt {
                display: none;
            }
        }

        .palette a {
            width: 25px;
            height: 25px;

            &._osm {
                width: 25px;
                height: 23px;
            }

            &.active:before {
                top: 3px;
                left: 2px;
            }
        }
    }

    &.medium {
        .layer-add-table {
            .dnameTxt {
                font-size: 9px;
            }

            .dsizeTxt {
                display: none;
            }
        }
        .layer-add-table .dsizeTxt {
            display: none;
        }

        .palette a {
            width: 30px;
            height: 30px;

            &._osm {
                width: 30px;
                height: 28px;
            }

            &.active:before {
                top: 5px;
                left: 5px;
            }
        }
    }

    &.large {
        .palette a {
            width: 40px;
            height: 40px;

            &._osm {
                width: 40px;
                height: 38px;
            }

            &.active:before {
                top: 10px;
                left: 10px;
            }
        }
    }
}

.layer-conflate {
    .conflate-ref {
        margin-bottom: 10px;

        .thumb {
            margin: 0 5px;
            padding: 10px;
        }

        &:after {
            background: $dark-opacity10;
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 5px;
            top: 18px;
            left: 50%;
            margin-left: -5px;
        }
    }

    .action-container {
        .button.dark {
            margin-left: 10px;
        }
    }
}

.layer-review {
    .action-container {
        .button.dark {
            margin-left: 10px;
        }
    }
}

.controller {
    border-radius: 4px;
    transition: border-radius 300ms linear;

    span {
        color: black;
    }

    .thumbnail {
        border-radius: 4px 0 0 4px;
        transition: inherit;
    }

    .expanded & {
        border-radius: 4px 0 0 0;
        transition: border-radius 0ms;

        .thumbnail {
            border-radius: inherit;
            transition: inherit;
        }
    }

    .context-menu-layer {
        position: absolute;
        display: inline-block;
        width: calc(100% - 100px);
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }

    .icon-button {
        width: 40px;
        height: 60px;
        float: right;

        &:hover {
            background-color: $light
        }
    }
}

.metadata-body {
    padding: 10px 15px;

    .expand-title {
        display: block;
        padding-bottom: 0;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .metadata-table {
        border-collapse: separate;
        border: 1px solid $light3;
        margin-bottom: 5px;
        color: $dark;

        tr {
            word-break: break-word;
        }

        td {
            padding: 4px 6px;
        }

        .metadata-key {
            width: 40%;
            font-weight: bold;
        }

        .metadata-value {
            width: 60%;
        }
    }
}

.cancel-button {
    i {
        vertical-align: bottom;
        cursor: pointer;
    }
}
