#sidebar {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 100%;
    min-width: 400px;
    max-width: 50%;
    z-index: 11;

    .feature-list-pane {
        display: none;
    }
}

#hoot-sidebar {
    position: relative;
    height: 100%;

    .cover-bar {
        position: absolute;
        background: #fff;;
        height: 100%;
        top: 0;
        right: 0;
        width: 5px;
        -webkit-transition: all .5s;
        opacity: 1;
    }

    &:hover .cover-bar {
        opacity: 0;
        -webkit-transition: all .5s;
    }

    .wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
        //padding-right: 23px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            overflow: visible;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,.2);
        }
    }

    .sidebar-component {
        top: 0;
    }
}

#sidebar-resizer {
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #999;
    opacity: 1;
    z-index: 1;
    cursor: col-resize;
    transition: background-color 500ms ease-in;

    &.light {
        background-color: $light4;
        transition: background-color 500ms ease-out;
    }
}

.sidebar-form {
    margin-bottom: 20px;
    box-shadow: 0 3px 10px $dark-opacity10;

    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: $light-gray;
        font-size: 14px;
        color: white;
        transition: border-radius 400ms linear;

        &::before {
            margin-left: -10px;
        }

        &.active {
            border-radius: 4px 4px 0 0;
            background-color: $dark;
        }

        &:hover {
            background-color: $dark;
        }

        i {
            line-height: 38px;
            margin-right: 10px;
        }
    }

    .inner-wrapper {
        height: 0;
        min-height: 0;
        border-radius: 0 0 4px 4px;
        border: 0 solid $dark-opacity25;
        visibility: hidden;
        overflow: hidden;
        transition: height 250ms linear, visibility 300ms, border 600ms;

        &.visible {
            border: 1px solid $dark-opacity25;
            border-top: none;
            visibility: visible;
            transition: height 200ms linear;
        }

        &.no-transition {
            overflow: visible;
            transition: height 0ms;
        }

        fieldset {
            padding: 15px;
        }
    }

    .action-container {
        margin-bottom: 0;

        button {
            padding: 5px 20px;
            height: auto;

            &.dark.disabled {
                background-color: #999;
                color: #ddd;
            }
        }
    }
}

.layer-add {
    .layer-add-table {
        height: 150px;
        margin-bottom: 15px;
        resize: vertical;
    }
}

.palette {
    width: auto;
    display: inline-block;
    border-color: #444;

    a {
        width: 40px;
        height: 40px;
        border-color: #444;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border: none;
        }

        &.active {
            box-shadow: inset 0 0 0 4px $dark-opacity25;

            &:before {
                position: relative;
                top: 10px;
                left: 10px;
                opacity: 0.5;
            }
        }
    }
}

.layer-conflate {
    .conflate-ref {
        margin-bottom: 10px;

        .thumb {
            margin: 0 5px;
            padding: 10px;
        }

        &:after {
            background: $dark-opacity10;
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 5px;
            top: 18px;
            left: 50%;
            margin-left: -5px;
        }
    }

    .action-container {
        .button.dark {
            margin-left: 10px;
        }
    }
}

.layer-review {
    .action-container {
        .button.dark {
            margin-left: 10px;
        }
    }
}

.controller {
    border-radius: 4px;
    transition: border-radius 300ms linear;

    span {
        color: black;
    }

    .thumbnail {
        border-radius: 4px 0 0 4px;
        transition: inherit;
    }

    .expanded & {
        border-radius: 4px 0 0 0;
        transition: border-radius 0ms;

        .thumbnail {
            border-radius: inherit;
            transition: inherit;
        }
    }

    .context-menu-layer {
        position: absolute;
        display: inline-block;
        width: calc(100% - 100px);
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }

    .icon-button {
        width: 40px;
        height: 60px;
        float: right;

        &:hover {
            background-color: $light
        }
    }
}

.metadata-body {
    padding: 10px 15px;

    .expand-title {
        display: block;
        padding-bottom: 0;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .metadata-table {
        border-collapse: separate;
        border: 1px solid $light3;
        margin-bottom: 5px;
        color: $dark;

        tr {
            word-break: break-all;
        }

        td {
            padding: 4px 6px;
        }

        .metadata-key {
            width: 40%;
            font-weight: bold;
        }

        .metadata-value {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 1160px) {
    #sidebar {
        width: 300px;
        min-width: 300px;

        .wrapper {
            padding: 20px 15px;
        }
    }

    .layer-add {
        .palette a {
            width: 30px;
            height: 30px;

            &._osm {
                width: 30px !important;
                height: 28px !important;
            }

            &.active:before {
                top: 5px;
                left: 5px;
            }
        }

        .layer-add-table .dsizeTxt {
            display: none;
        }
    }
}

@media only screen and (max-width: 990px) {

}