#sidebar {
    width: 400px;
    height: calc(100% - 60px);
    min-width: 400px;
    max-width: 50%;
    //background-color: white;

    .wrapper {
        height: 100%;
        padding: 20px;
        overflow-y: auto;
    }

    .feature-list-pane {
        display: none;
    }
}

#sidebar-resizer {
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    right: -5px;
    background: #999;
    opacity: 0.8;
    cursor: col-resize;
}

.sidebar-form {
    margin-bottom: 20px;

    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: palette( 'primary', 'light' );
        font-size: 14px;
        color: white;

        &.active {
            border-radius: 4px 4px 0 0;
            //background-color: $primary-gray;
            background-color: palette( 'primary' );
        }

        &:hover {
            //background-color: $primary-gray;
            background-color: palette( 'primary' );
        }

        i {
            line-height: 38px;
            margin-right: 10px;
        }
    }

    .layer-add-table {
        height: 150px;
        margin-bottom: 15px;
        resize: vertical;
    }

    fieldset {
        padding: 10px;
        border-radius: 0 0 4px 4px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        border-top: none;
    }

    .palette {
        width: 284px;
        display: inline-block;
        border-color: #444;

        a {
            width: 40px;
            height: 40px;
            border-color: #444;

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border: none;
            }

            &.active {
                box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.25);

                &:before {
                    position: relative;
                    top: 10px;
                    left: 10px;
                    opacity: 0.5;
                }
            }
        }
    }


    .action-container button {
        padding: 5px 20px;
        height: auto;
    }
}

.layer-controller {
    span {
        color: black;
    }

    .context-menu-layer {
        position: absolute;
        display: inline-block;
        width: calc(100% - 100px);
        height: 60px;
        line-height: 60px
    }

    .delete-button {
        position: absolute;
        width: 40px;
        height: 60px;
        right: 0;

        &:hover {
            background-color: #f4f4f4;
        }
    }
}

.layer-conflate {

    .conflate-ref {
        margin-bottom: 10px;

        .thumb {
            margin: 0 5px;
            padding: 10px;
        }

        &:after {
            background: rgba(0, 0, 0, 0.10);
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 5px;
            top: 18px;
            left: 50%;
            margin-left: -5px;
        }
    }

    .button.dark {
        margin-left: 10px;
    }
}