{
    "env": {
        "browser": true,
        "mocha": true
    },
    "globals": {
        "_": false,
        "expect": true,
        "fakeFetch": true,
        "happen": false,
        "iD": false,
        "sinon": false,
        "fetchMock": true,
        "Hoot": false,
        "__COMMIT_HASH__": false
    },
    "rules": {
        "no-unused-expressions": "off"
    }
}
