{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "env": {
        "production": {
            "presets": ["minify"]
        }
    },
    "plugins": ["external-helpers", "lodash"]
}