{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "env": {
        "production": {
            "presets": [
                ["minify", {"evaluate": false}]
            ]
        }
    },
    "plugins": ["external-helpers", "lodash"]
}