.DS_Store
transifex.auth
node_modules
npm-debug.log
dist/*.js
dist/*.css
transifex.auth
data/buildInfo.json
test/spec/hoot/npm-debug.log
test/spec/npm-debug.log
test/istanbul_index.html
istanbul
mocha-coverage
cucumber-coverage
combined-coverage
# vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
