@import '../../modules/variables';

.admin-table {
    margin-top: 20px;
    overflow-y: auto;
    box-shadow: 0 3px 10px $dark-opacity10;

    thead {
        display: block;
        color: $light;
        background: $dark1;
    }

    tbody {
        display: block;
        max-height: 600px;
        overflow-y: auto;
    }

    tr {
        display: flex;
    }

    td, th {
        flex-basis:100%;
        flex-grow:2;
        display: block;
    }

    th {
        padding-top: 5px;
        font-size: 110%;
        font-weight: bold;
    }
    th:first-child {
        padding-left: 10px;
    }
    th.filter {
        cursor: context-menu;
    }

    i.material-icons {
        vertical-align: bottom;
    }

    i.action, i.sort, i.filter {
        cursor: pointer;
    }
    i.filter {
        font-size: 14px;
        padding: 5px 0 5px 5px;
    }

}

.user-item {
    justify-content: space-between;
    height: 20px;
    user-select: none;

    border-width: thin;
    border-top-style: solid;

    &:hover {
        background-color: $light;
    }

    td:first-child {
        padding-left: 10px;
    }

    .privileges {
        label {
            margin-right: 25px;
        }
    }

}

.admin-buttons {
    margin-bottom: 20px;

    .admin-action-button {
        padding: 0 10px;
        border-radius: 4px;

        .label {
            margin-left: 5px;
        }
    }
}

h3.maps {
    padding-top: 50px;
}

.lastAccessed {
    font-size: medium;
    margin-bottom: 20px;
}
