@import '../../modules/variables';

.jobs-table {
    margin-top: 20px;
    overflow-y: auto;
    box-shadow: 0 3px 10px $dark-opacity10;

    thead {
        color: $light;
        background: $dark1;
    }

    th {
        padding-top: 5px;
        font-size: 110%;
        font-weight: bold;
    }

    th:first-child {
        padding-left: 10px;
    }

    th.sort {
        cursor: pointer;
    }

    th.filter {
        cursor: context-menu;
    }


    tr.jobs-item {
        justify-content: space-between;
        height: 20px;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;


        &:hover {
            background-color: $light;
        }

        td:first-child {
            padding-left: 10px;
        }

        td.progress {
            display: flex;
            align-items: baseline;
        }

        &.selected {
            background-color: rgb(255, 255, 153);
        }
    }

    i.material-icons {
         vertical-align: bottom;
    }
    i.action, i.sort, i.page {
        cursor: pointer;
    }
}

h3.jobs-history {
    padding-top: 50px;

    .pages {
        cursor: context-menu;
    }

    i.material-icons {
         vertical-align: bottom;
    }
    i.action, i.sort, i.page {
        cursor: pointer;
    }
}


.limit-value,
.filter-column {
    padding: 10px;
    z-index: 15;
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 4px;

    .filter-value {
        display: flex;
    }

    i {
        vertical-align: bottom;
    }

    &:hover {
        background-color: #f6f6f6
    }
}
