#manage-panel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 11;

    .panel-body {
        position: relative;
        display: none;
        width: calc(100vw - 220px);
        min-width: 548px;
        height: calc(100% - 60px);

        &.active {
            display: block;
        }
    }

    .panel-wrapper {
        position: relative;
        height: 100%;
        padding: 30px 20px;
        overflow-y: auto;
    }
}

#manage-sidebar-menu {
    position: relative;
    width: 220px;
    height: calc(100% - 60px);
    font-size: 14px;
}