#util-review-bookmarks .panel-wrapper {
    //padding: 0;
    overflow: hidden;
}

.bookmark-filter-container {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    .filter-control {
        margin-right: 20px;
    }

    .reset-button {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}

.bookmark-table {
    min-height: 115px;
    max-height: calc(100% - 95px);
    box-shadow: 0 3px 10px $dark-opacity10;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.bookmark-item {
    padding: 5px 10px 5px 15px;

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: none;
    }

    &:only-child {
        border: none;
    }

    .delete-bookmark button {
        height: auto;
    }

    .bookmark-body {
        display: flex;
        justify-content: flex-start;

        label {
            font-weight: 500;
        }
    }

    .bookmark-description {
        width: 40%;
        min-width: 180px;
        margin-right: 10px;
    }
}

.bookmark-pagination {
    position: static;
    height: 50px;
    bottom: 0;
    padding: 10px 0;
    //border-top: 1px solid $light-gray;

    .pages {
        width: auto;
        float: right;

        .page {
            width: 20px;
            height: 20px;
            border: 1px solid $light-gray;
            display: inline-block;
        }
    }
}