#util-review-bookmarks .panel-wrapper {
    //padding: 0;
    overflow: hidden;
}

.bookmark-filter-container {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    .filter-control {
        margin-right: 20px;
    }

    .reset-button {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}

.bookmark-table {
    min-height: 210px;
    max-height: calc(100% - 130px);
    box-shadow: 0 3px 10px $dark-opacity10;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.bookmark-item {
    padding: 5px 10px 5px 15px;

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: none;

        &:nth-child(1), &:nth-child(2) {
            border-bottom: 1px solid $dark-opacity20
        }
    }

    .delete-bookmark button {
        height: auto;
    }

    .bookmark-body {
        display: flex;
        justify-content: flex-start;

        label {
            font-weight: 500;
        }
    }

    .bookmark-description {
        width: 40%;
        min-width: 180px;
        margin-right: 10px;
    }
}

.bookmark-pagination {
    position: static;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    padding: 10px 0;

    .page-nav {
        float: right;
        display: flex;

        & > div {
            display: inline-block;
        }

        button {
            width: 30px;
            height: 100%;
            padding: 5px;
            border-right: 1px solid $dark-opacity20;

            &:last-child {
                border-right: none;
            }

            &.material-icons {
                font-size: 20px;
                line-height: 0;
            }

            &.selected {
                background-color: $blue;
                color: $light;
            }
        }

        .page-buttons {
            margin: 0 10px;
        }

        .joined {
            border-radius: 4px;
        }
    }
}