@import '../../modules/variables';

.bm-notes-back-button {
    height: 40px !important;
    padding: 0 20px 0 10px;
}

.bm-notes-form {
    margin-top: 20px;
}

.notes-header {
    padding: 10px 15px;
    background-color: $dark-opacity05;

    .notes-title {
        margin: 0;
    }
}

.notes-actions {
    height: 24px;

    & > div {
        display: inline-block;
        cursor: pointer;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
