@import '../../modules/variables';

#translation-table-header {
    padding: 0 20px;
    background-color: $dark1;
    color: white;
    width: 100%;
    height: 25px;
    font-weight: bold;

    th {
        position: relative;
        top: 2px;
        text-align: left;
    }
}

.add-translation-button {
    display: inline-flex;
    align-items: center;
    height: 40px !important;
    padding: 0 20px 0 10px;
    margin-right: 20px;
}

.add-translation-folder {
    display: inline-flex;
    align-items: center;
    height: 40px !important;
    padding: 0 20px 0 10px;
}

.translation-table {
    height: 90%;
    margin-top: 20px;
    overflow-y: auto;
    box-shadow: 0 3px 10px $dark-opacity10;
}

.translation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    &:hover {
        background-color: $light;
    }

    a {
        position: relative;
        padding: 0 10px;
    }

    .tooltip {
        width: 500px;
    }

    .button-container {
        height: 100%;

        button {
            height: inherit;
            padding: 0 20px;
            border-radius: 0;
        }
    }
}
