.add-translation-button {
    display: flex;
    align-items: center;
    height: 40px !important;
    padding: 0 20px 0 10px;
}

.translation-table {
    height: 400px;
    margin-top: 20px;
    overflow-y: scroll;
    box-shadow: 0 3px 10px $dark-opacity10;
}

.translation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    &:hover {
        background-color: $light;
    }

    a {
        padding: 0 10px;
    }

    button {
        height: 100%;
        padding: 0 20px;
        border-radius: 0;
    }
}