.ta-upload-form {
    margin-bottom: 30px;
}

.ta-schema-select {
    padding: 10px 15px;
}

.ta-attribute-mapping {
    .attributes-nav {
        & > div {
            display: inline-block;
        }
    }

    .tag-map-container {
        padding: 10px 15px;

        .add-mapping-button {
            width: 100%;
        }
    }

    .actions-container {
        border-top: 1px solid #ccc;
    }
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;

    button {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;

        &:first-child {
            margin-right: 15px;
        }

        &:last-child {
            margin-left: 15px;
        }
    }
}