.alert-container {
    position: fixed;
    width: auto;
    height: auto;
    top: 132px;
    right: 60px;
}

.hoot-alert {
    width: 240px;
    padding: 10px 20px 10px 18px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    opacity: 0;
    z-index: 103;
    transform: translateX(-20px);
    animation: slide-out 500ms forwards;

    &.show {
        animation: slide-in 800ms forwards;
        animation-delay: 200ms;
    }

    &.has-data {
        width: auto;
    }

    .close {
        position: absolute;
        width: auto;
        height: auto;
        top: 6px;
        right: 8px;
        font-size: 20px;
        line-height: 10px;
        background: transparent;
        color: inherit;
    }
}

.alert-message {
    font-size: 14px;
    font-weight: 400;
}

.alert-details {
    max-width: 200px;
    max-height: 0;
    margin-top: 0;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    animation: shrink-hide 200ms;
    animation-fill-mode: forwards;

    &.show {
        width: auto;
        animation: expand-show 500ms forwards;
    }

    .detail-name {
        font-weight: 500;
        margin-right: 10px;
    }

    span {
        display: inline-block;
    }
}

.alert-footer {
    margin-top: 10px;

    .alert-link {
        font-size: 12px;
        font-weight: bold;
        color: inherit;

        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-warn {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.hoot-confirm {
    z-index: 102;

    .confirm-message {
        margin-bottom: 20px;
    }

    button {
        height: 30px;
        padding: 0 10px;

        &.secondary {
            margin-right: 10px;
        }

        &.primary {
            margin-left: 10px;
        }
    }
}

@keyframes slide-in {
    50% {
        opacity: 0.3;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        //width: auto;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes expand-show {
    0% {
        visibility: visible;
        margin-top: 0;
    }

    20% {
        opacity: 0;
    }

    75% {
        opacity: 0.4;
    }

    95% {
        margin-top: 9px;
    }

    100% {
        max-width: 300px;
        max-height: 150px;
        margin-top: 10px;
        visibility: visible;
        opacity: 1;
    }
}

@keyframes shrink-hide {
    0% {
        max-width: 300px;
        max-height: 150px;
        margin-top: 10px;
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        max-width: 200px;
        max-height: 0;
        margin-top: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 1160px) {
    .alert-message {
        font-size: 12px;
    }
}