//.overlay {
//    opacity: 0;
//    visibility: hidden;
//    transition: opacity 200ms linear, visibility 250ms;
//
//    &.visible {
//        opacity: 1;
//        visibility: visible;
//        transition: opacity 300ms linear;
//    }
//}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear, visibility 250ms;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 300ms linear;
    }
}

.map-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear, visibility 250ms;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 150ms linear;
    }
}

.modal {
    position: absolute;
    margin: 0 auto;
    padding: 15px;
    top: 10%;
    z-index: 101;

    .modal-header {
        margin-bottom: 20px;
    }

    .modal-footer {
        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            margin: 10px auto 0;
            padding: 0 15px;

            ._icon {
                margin-left: 10px;
            }
        }
    }

    .dataset-file-upload {
        position: absolute;
        height: 100%;
        opacity: 0;
        left: 0;
    }
}

.form-field-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label, span {
        display: inline-block;
        padding: 5px 10px;
    }
}


.form-field {
    width: 100%;
    margin-bottom: 10px;

    label {
        padding: 5px 10px;
    }

    &:only-child {
        margin-bottom: 0;
    }

    input {
        color: $gray;
        border: none;

        &[type="text"] {
            border-radius: 0 0 4px 4px;

            &:focus {
                color: $dark2;
                background: none;
            }
        }

        &.disabled {
            background-color: white;
        }
    }

    .icon-button {
        width: 31px;
    }
}


//#advanced-opts-toggle {
//    color: $light4;
//    transition: all 100ms ease-in;
//
//    &:hover {
//        background-color: $light1;
//        color: $gray;
//        transition: all 100ms ease-out;
//    }
//
//    .toggle-text {
//        padding-right: 3px;
//    }
//
//    .toggle-caret {
//        padding-left: 3px;
//    }
//}
//
//#advanced-opts-panel {
//    position: fixed;
//    display: inline-block;
//    width: 0;
//    height: calc(100% - 60px);
//    z-index: 10;
//    visibility: hidden;
//    overflow: hidden;
//    white-space: nowrap;
//    transition: width 250ms ease-in-out, box-shadow 250ms ease-in, visibility 300ms;
//
//    & > div {
//        position: absolute;
//        width: 100%;
//    }
//
//    &.visible {
//        width: 350px;
//        visibility: visible;
//        transition: width 250ms ease-in-out;
//    }
//
//    .advanced-opts-header {
//        padding: 20px 15px;
//        box-shadow: 0 1px 10px 0 $light2;
//
//        h4 {
//            padding: 0;
//        }
//    }
//
//    .advanced-opts-content {
//        top: 61px;
//        bottom: 150px;
//        padding: 10px 0;
//        overflow-x: hidden;
//        overflow-y: auto;
//    }
//
//    .advanced-opts-actions {
//        height: 150px;
//        bottom: 0;
//        padding: 15px;
//        display: flex;
//        flex-direction: column;
//        justify-content: space-around;
//        box-shadow: 0 -2px 10px 0 $light2;
//
//        button {
//            display: block;
//            width: 100%;
//            height: 45px;
//        }
//    }
//
//    .group-toggle {
//        cursor: pointer;
//
//        .inner-wrapper {
//            padding: 5px 15px;
//        }
//    }
//
//    .group-body {
//        padding: 10px 0;
//    }
//
//    .form-field {
//        padding: 0 15px;
//
//        label {
//            display: inline-block;
//            margin-bottom: 5px;
//            padding: 0;
//            line-height: 22px;
//        }
//
//        span {
//            line-height: 22px;
//        }
//
//        input[type="text"] {
//            border: 1px solid $dark-opacity20;
//            border-radius: 4px;
//            display: block;
//        }
//
//        input.combobox-input {
//            display: inline-block;
//        }
//    }
//
//    .form-field.has-children {
//        .form-field {
//            padding: 0 20px;
//
//            label {
//                display: inline-block;
//            }
//        }
//    }
//}