@import 'variables';

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px 0;
        overflow-y: auto;
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear, visibility 250ms;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 300ms linear;
    }
}

.map-overlay {
    top: 60px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear, visibility 250ms;
    z-index: 10;

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 150ms linear;
    }
}

.modal {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    top: 0;
    z-index: 101;
    float: none;

    .modal-header {
        margin-bottom: 20px;
    }

    .modal-footer {
        display: flex;

        .sideContainer {
            display: initial;
            width: 25%;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            margin: 10px auto 0;
            padding: 0 15px;

            ._icon {
                margin-left: 10px;
            }
        }
        .processWaiter {
            display: flex;
            justify-content: flex-end;
            #processSpinner {
                align-self: flex-end;
            }
        }
    }
}

.form-field-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label, span {
        display: inline-block;
        padding: 5px 10px;
    }
}

.hoot-form-field {
    width: 100%;
    margin-bottom: 10px;

    &:only-child {
        margin-bottom: 0;
    }

    label {
        padding: 5px 10px;
    }

    textarea {
        color: $gray;
        width: 100%;
        height: 200px;
        min-height: 65px;
        margin-bottom: -6px;
        border: none;

        &:focus {
            background: none;

            &:not([readonly="readonly"]) {
                color: $dark2;
            }
        }
    }

    input {
        width: 100%;
        color: $gray;
        border: none;

        &[type="text"] {
            border-radius: 0 0 4px 4px;

            &:focus {
                background: none;

                &:not([readonly="readonly"]) {
                    color: $dark2;
                }
            }
        }

        &[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            opacity: 0;
        }

        &[type="checkbox"] {
            width: auto;
            margin-top: 9px;
            margin-left: 9px;
        }

        &.disabled {
            background-color: white;
        }

        &.multipart-input {
            padding-right: 40px;
        }
    }

    select {
        width: 100%;
        vertical-align: middle;
    }

    .multipart-icon-button {
        position: absolute;
        width: 31px;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

.progress-bar {
    margin: 10px auto 0;
}

.file-import-option {
    &.import-success {
        background-color: rgba(51, 204, 51, 1);
        font-weight: bold;
    }
}

.hoot-field-checkbox {
    display: flex;

    .form-field-header {
        width: 90%;
    }

    .hoot-checkbox-wrap {
        width: 10%;
        display: flex;
        justify-content: center;
    }

}

#differentialPushTable {
    .hoot-menu.modal {
        max-width: 60%;
    }

    tbody {
        display: block;
        overflow: scroll;
        max-height: 400px;
    }
}
