.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    position: absolute;
    margin: 0 auto;
    padding: 15px;
    top: 10%;
    z-index: 2001;

    .modal-header {
        margin-bottom: 20px;
    }

    .modal-footer {
        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            margin: 10px auto 0;
            padding: 0 15px;

            ._icon {
                margin-left: 10px;
            }
        }
    }

    .dataset-file-upload {
        position: absolute;
        height: 100%;
        opacity: 0;
        left: 0;
    }
}

form {
    .form-field {
        width: 100%;
        margin-bottom: 10px;

        label {
            padding: 5px 10px;
        }

        input {
            border: none;

            &[type="text"] {
                border-radius: 0 0 4px 4px;
            }

            &.disabled {
                background-color: white;
            }
        }

        .icon-button {
            width: 31px;
        }
    }
}