body,
input,
textarea {
    color: $dark2;
    font: normal 12px/1.6667 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

label {
    display: block;
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer !important;
}

.hidden {
    display: none;
}

.overflow {
    overflow: auto;
}

.flex {
    display: flex;

    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-center {
        align-items: center;
    }
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

/*****************************************/
/**************** BORDER *****************/
/*****************************************/

.round {
    border-radius: 4px;
}

.unround {
    border-radius: 0;
}

.round-top {
    border-radius: 4px 4px 0 0;
}

.round-right {
    border-radius: 0 4px 4px 0;
}

.round-bottom {
    border-radius: 0 0 4px 4px;
}

.round-left {
    border-radius: 4px 0 0 4px;
}

.keyline-all {
    border: 1px solid $dark-opacity20;
}

.keyline-top {
    border-top: 1px solid $dark-opacity20;
}

.keyline-right {
    border-right: 1px solid $dark-opacity20;
}

.keyline-bottom {
    border-bottom: 1px solid $dark-opacity20;
}

.keyline-left {
    border-left: 1px solid $dark-opacity20;
}

/*****************************************/
/**************** FLOAT ******************/
/*****************************************/

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*****************************************/
/**************** PADDING ****************/
/*****************************************/

.pad1 {
    padding: 10px;
}

.pad2 {
    padding: 20px;
}

.pad1y {
    padding: 10px 0;
}

.pad2y {
    padding: 20px 0;
}

.pad1x {
    padding: 0 10px;
}

.pad2x {
    padding: 0 20px;
}

/*****************************************/
/**************** COLORS *****************/
/*****************************************/

.text-light {
    color: $light;
}

.text-dark {
    color: $dark;
}

.fill-white {
    background-color: white;
}

.fill-light {
    background-color: $light;
}

.fill-dark {
    background-color: $dark;
}

button, .button {

    &[disabled] {
        background-color: $dark-opacity25 !important;
    }

    &.primary {
        background-color: $blue;

        &:hover {
            background-color: $blue1;
        }
    }

    &.secondary {
        background-color: $light1;

        &:hover {
            background-color: $light2;
        }
    }

    &.dark {
        background-color: $dark;

        &:hover {
            background-color: $dark1;
        }
    }

    &.light {
        background-color: white;
        color: $dark;
    }
}

input[type=text] {
    &.invalid {
        border: 1px solid red !important;
    }

    &[disabled] {
        &::placeholder {
            color: $gray;
        }

        & ~ span {
            display: none;
        }

        background-color: $light3 !important;
    }
}