.pointer {
    cursor: pointer !important;
}

.round        { border-radius:4px; }
.round-top    { border-radius:4px 4px 0 0; }
.round-right  { border-radius:0 4px 4px 0; }
.round-bottom { border-radius:0 0 4px 4px; }
.round-left   { border-radius:4px 0 0 4px; }
.unround      { border-radius:0; }