#id-container {
    position: fixed;
    top: 60px;
    height: 100%;
}

#id-sink {
    width: 100%;
    //min-width: 768px;
    height: calc(100% - 60px);
    position: inherit;
}

body,
input,
textarea {
    color: $dark2;
    font: normal 13px/1.6667 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1160px) {
    body {
        font: normal 12px/1.6667 'Helvetica Neue', Arial, sans-serif;
    }
}

h4, h5 {
    font-size: 14px;
}

label {
    display: block;
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
}

.strong {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.pointer {
    cursor: pointer !important;
}

.hidden {
    display: none !important;
}

.overflow {
    overflow: auto;
}

.contain {
    position: relative;
}

.flex {
    display: flex;

    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-start {
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-center {
        align-items: center;
    }
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

/*****************************************/
/**************** BORDER *****************/
/*****************************************/

.round {
    border-radius: 4px;
}

.unround {
    border-radius: 0;
}

.round-top {
    border-radius: 4px 4px 0 0;
}

.round-right {
    border-radius: 0 4px 4px 0;
}

.round-bottom {
    border-radius: 0 0 4px 4px;
}

.round-left {
    border-radius: 4px 0 0 4px;
}

.keyline-all {
    border: 1px solid $dark-opacity20;
}

.keyline-top {
    border-top: 1px solid $dark-opacity20;
}

.keyline-right {
    border-right: 1px solid $dark-opacity20;
}

.keyline-bottom {
    border-bottom: 1px solid $dark-opacity20;
}

.keyline-left {
    border-left: 1px solid $dark-opacity20;
}

/******************************************/
/***************** LAYOUT *****************/
/******************************************/

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.wrapper {
    padding: 20px;
}

.pad0 {
    padding: 5px;
}

.pad1 {
    padding: 10px;
}

.pad2 {
    padding: 20px;
}

.pad0x {
    padding-left: 5px;
    padding-right: 5px;
}

.pad1x {
    padding-left: 10px;
    padding-right: 10px;
}

.pad2x {
    padding-left: 20px;
    padding-right: 20px;
}

.pad0y {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad1y {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad2y {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*****************************************/
/**************** COLORS *****************/
/*****************************************/

.fill-red {background-color: #AF0046;}

.fill-gold { background-color: #ffcc00; }

.fill-orange { background-color: #ff7f2a; }

.fill-violet { background-color: #ff5599; }

.fill-purple { background-color: #e580ff; }

.fill-blue { background-color: #5fbcd3; }

.fill-teal { background-color: #5fd3bc; }

.fill-green { background-color: #a7c973; }

.text-light {
    color: $light;
}

.text-dark {
    color: $dark;
}

.fill-white {
    background-color: white;
}

.fill-light {
    background-color: $light;
}

.fill-dark {
    background-color: $dark;
}

.fill-dark0 {
    background-color: $dark-opacity05;
}

button, .button {
    &.primary {
        background-color: $blue;
        color: white;
        border: 1px solid $blue1;

        &:hover {
            background-color: $blue1;
        }
    }

    &.alert {
        background-color: $red;
        color: white;
        border: 1px solid $red1;

        &:hover {
            background-color: $red1;
        }
    }

    &.secondary {
        background-color: $light1;
        color: black;
        border: 1px solid $light4;

        &:hover {
            background-color: $light2;
        }
    }

    &.dark {
        background-color: $dark;
        border: 1px solid $dark2;

        &:hover {
            background-color: $dark1;
        }
    }

    &.big {
        height: 60px;
        font-size: 14px;
    }

    &[disabled] {
        background-color: $dark-opacity25 !important;
        border: 1px solid $light4;
    }
}

input[type=text], textarea {
    &.invalid {
        border: 1px solid red !important;
    }

    &[disabled] {
        &::placeholder {
            color: $gray;
        }

        & ~ span {
            display: none;
        }

        background-color: $light3 !important;
    }
}

.hide-toggle-button {
    display: block;
    padding-left: 12px;
    position: relative;
}

.hide-toggle-button:before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid $blue;
}

.hide-toggle.expanded:before {
    border-top: 8px solid $blue;
    border-bottom: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}