.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    &.small {
        font-size: 20px;
    }

    &.medium {
        font-size: 30px;
    }
}

._osm {
    // background-image: url(./img/mag_map.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    margin-top: 2px;
}

._icon {
    &.thumbnail, &._loading {
        .red & { background-color: #AF0046; }
        .orange & { background-color: #ff7f2a; }
        .gold & { background-color: #ffcc00; }
        .violet & { background-color: #ff5599; }
        .purple & { background-color: #e580ff; }
        .blue & { background-color: #5fbcd3; }
        .teal & { background-color: #5fd3bc; }
        .green & { background-color: #a7c973; }
    }

    &:before {
        background: transparent url(./img/sprite@2x.png) no-repeat 0 0;
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        -webkit-background-size: 600px 120px;
        background-size: 600px 120px;
    }

    &.big:before {
        width: 40px;
        height: 40px;
    }

    &.data {
        &:before {
            background-position: -40px 0;
        }

        &.big:before {
            background-position: -40px -20px;
        }

        &.light:before {
            background-position: -40px -60px;
        }

        &.light.big:before {
            background-position: -40px -80px;
        }
    }

    &.conflate {
        &:before {
            background-position: -80px 0;
        }

        &.big:before {
            background-position: -80px -20px;
        }

        &.light:before {
            background-position: -80px -60px;
        }

        &.light.big:before {
            background-position: -80px -80px;
        }
    }

    &.open-folder:before {
        background-position: -84px 0px;
    }

    &.info {
        &:before {
            background-position: -160px 0;
        }

        &.big:before {
            background-position: -160px -20px;
        }

        &.light:before {
            background-position: -160px -60px;
        }

        &.light.big:before {
            background-position: -160px -80px;
        }
    }

    &.trash:before {
        background-position: -200px 0;
    }

    &.export:before {
        background-position: -330px 0;
    }

    &.check {
        &:before {
            background-position: -360px 0;
        }

        &.big:before {
            background-position:-360px -20px;
        }

        &.light:before {
            background-position:-360px -60px;
        }

        &.light.big:before {
            background-position:-360px -80px;
        }
    }

    &.plus {
        &:before {
            background-position: -400px 0;
        }

        &.big:before {
            background-position:-400px -20px;
        }

        &.light:before {
            background-position:-400px -60px;
        }

        &.light.big:before {
            background-position:-400px -80px;
        }
    }

    &.close:before {
        background-position: -440px 0;
    }

    &.folder:before {
        background-position: -480px 0;
    }

    &.closedeye:before {
        background-position: -480px -30px;
    }

    &.openeye:before {
        background-position: -520px -30px;
    }

    &.blank:before {
        background-position: -260px 15px;
    }

    &.file:before {
        background-position: -560px 0px;
    }

    &._loading {
        &:before {
            // background: url(./img/loading-spin-dark.svg) no-repeat 0 0;
            display: inline-block;
            width: 26px;
            height: 26px;
            vertical-align: middle;
        }

        &.light:before {
            // background-image: url(./img/loading-spin.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            display: inline-block;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
}

.arrow-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }

    &.forward-arrow {
        // background: transparent url(./img/keyboard53.svg) no-repeat;
    }

    &.back-arrow {
        // background: transparent url(./img/keyboard54.svg) no-repeat;
    }
}

.search-icon {
    // background: transparent url(./img/magnify.svg) no-repeat 4px 4px;
}

.link-tag {
    // background:transparent url(./img/squares41.svg) no-repeat 4px 5px;
}

.map-tag {
    // background: transparent url(./img/squares36.svg) no-repeat 4px 4px;
}

.remove-map-tag {
    // background:transparent url(./img/remove.svg) no-repeat 4px 4px;
}

.remove-tag {
    // background:transparent url(./img/prohibited1.svg) no-repeat 4px 4px;
}

.translate-icon {
    background-size: 40px 40px;
}

.grail-loading {
    // background: rgba(0, 0, 0, 0.5) url(./img/loading-spin.svg) no-repeat center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
