.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    &.small {
        font-size: 20px;
    }

    &.medium {
        font-size: 30px;
    }
}

._osm {
    background-image: url(img/mag_map.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    vertical-align: middle;
    width: 38px !important;
    height: 38px !important;
    margin: 2px 0 0 3px;
}

._icon {
    &:before {
        background: transparent url(img/sprite@2x.png) no-repeat 0 0;
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        -webkit-background-size: 600px 120px;
        background-size: 600px 120px;
    }

    &.big:before {
        width: 40px;
        height: 40px;
    }

    &.folder:before {
        background-position: -480px 0;
    }

    &.open-folder:before {
        background-position: -84px 0px;
    }

    &.data {
        &:before {
            background-position: -40px 0;
        }

        &.big:before {
            background-position: -40px -20px;
        }

        &.light:before {
            background-position: -40px -60px;
        }

        &.light.big:before {
            background-position: -40px -80px;
        }
    }

    &.conflate {
        &:before {
            background-position: -80px 0;
        }

        &.big:before {
            background-position: -80px -20px;
        }

        &.light:before {
            background-position: -80px -60px;
        }

        &.light.big:before {
            background-position: -80px -80px;
        }
    }

    &.close:before {
        background-position: -440px 0;
    }

    &.check:before {
        background-position: -360px 0;
    }

    &.trash:before {
        background-position: -200px 0;
    }

    &._loading {
        &:before {
            background: url(img/loading-spin-dark.svg) no-repeat 0 0;
            display: inline-block;
            width: 26px;
            height: 26px;
            vertical-align: middle;
        }

        &.light:before {
            background-image: url(img/loading-spin.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            display: inline-block;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
}