.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    &.small {
        font-size: 20px;
    }

    &.medium {
        font-size: 30px;
    }
}

._icon {
    &.folder:before {
        background-position:-480px 0;
    }

    &.open-folder:before {
        background-position:-84px 0px;
    }

    &.data:before {
        background-position:-40px 0;
    }

    &.close:before {
        background-position:-440px 0;
    }

    &._loading {
        background-image: url(img/loading-spin-dark.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
    }
}