$light: #f8f8f8;
$light1: #e6e6e6;
$light2: #ddd;
$light3: #ccc;
$light4: #bbb;
$light5: #aaa;

$gray: #777;
$light-gray: #999;

$dark: #555;
$dark1: #444;
$dark2: #333;

$dark-opacity10: rgba(0, 0, 0, 0.10);
$dark-opacity20: rgba(0, 0, 0, 0.20);
$dark-opacity25: rgba(0, 0, 0, 0.25);

$blue: #7092ff;
$blue1: #597be7;