$light: #f6f6f6;
$light1: #e6e6e6;
$light2: #ddd;
$light3: #ccc;
$light4: #bbb;
$light5: #aaa;

$gray: #777;
$light-gray: #999;

$dark: #555;
$dark1: #444;
$dark2: #333;

$dark-opacity05: rgba(0, 0, 0, 0.05);
$dark-opacity10: rgba(0, 0, 0, 0.10);
$dark-opacity20: rgba(0, 0, 0, 0.20);
$dark-opacity25: rgba(0, 0, 0, 0.25);
$dark-opacity30: rgba(0, 0, 0, 0.30);

$blue: #7092ff;
$blue1: #597be7;

$red: #f94646;
$red1: #e03b3b;

$material-icons-font-path: 'node_modules/material-icons/iconfont/';
